.what_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4rem auto;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 700px) {
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    margin-top: 2.5rem;
    text-align: center;
  }

  .smallImage {
    position: absolute;
    bottom: 2rem;
    right: -10rem;

    @media screen and (max-width: 1100px) {
      right: -15rem;
    }

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .smallImage2 {
    position: absolute;
    bottom: 1rem;
    right: 10rem;
    @media screen and (max-width: 1100px) {
      right: 7rem;
    }
    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  div {
    width: 50%;

    @media screen and (max-width: 700px) {
      width: 100%;
    }

    img {
      width: 120%;
      object-fit: cover;
      margin-left: -8rem;

      @media screen and (max-width: 1100px) {
        margin-left: -5rem;
      }

      @media screen and (max-width: 700px) {
        width: 100%;
        margin: 0;
      }
    }

    p {
      width: 75%;
      font-size: 15px;
      font-weight: normal;
      @media screen and (max-width: 1301px) {
        font-size: 14px;
      }
      @media screen and (max-width: 800px) {
        font-size: 12px;
      }
      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }

    button {
      background: rgba(250, 86, 82, 0.15);
      color: #fb4c47;
      font-weight: 600;
    }
  }
}
