footer {
  background: linear-gradient(
    360deg,
    rgba(255, 241, 241, 1) 0%,
    rgba(255, 241, 241, 0.1) 108.69%
  );
  padding: 4rem 0;
  overflow: hidden;
  position: relative;
  z-index: 9999999;

  .smallBug {
    position: absolute;
    bottom: 2rem;
    right: -10rem;
    z-index: -9999999999;
  }

  .smallerBug {
    position: absolute;
    top: 1rem;
    right: 17rem;
    z-index: -9999;
  }

  .footer_header {
    h1 {
      text-align: center;
      margin: 0;
      margin-bottom: 10px;
    }
    div {
      position: relative;
      width: 40%;
      margin: 4rem auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
      border-radius: 57px;
      padding: 0.7rem;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        width: 90%;
      }
      input {
        width: 60%;
        padding: 0.5rem 0.75rem;
        border: none;
        outline: none;
        font-size: 18px;
        font-family: "Muli";
        color: #4b4f51;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }

      button {
        width: 30%;
        margin: 0;
        padding: 0.9rem 0;
        @media screen and (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }

  .footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    margin-top: 10%;

    a {
      text-decoration: unset;
      color: #035755;
      font-family: "Muli";
      font-weight: 600;
      margin: 0 1rem;
      position: relative;
      transition: all 0.5s;
    }
  }
}
