header {
    padding-top: 1rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) -29.64%, #FFF8F8 45.66%);
    position: relative;

    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 7.5%;
        margin-top: 2rem;

        @media screen and (max-width:600px) {
            flex-direction: column-reverse;
            margin: 0 auto;
            width: 90%;
            margin-top: 2.5rem;
        }

        .header_info {

            width: 55%;
            @media screen and (max-width:600px) {
                width: 95%;
                margin-top: 1rem;
                text-align: center;
            }


        }

        .header_image {
            width: 80%;
            @media screen and (max-width:600px) {
                width:100%;
            }

            img {
                width: 100%;
            }
        }
    }
}